<a href="https://colab.research.google.com/github/SatyaPalui/PythonPractice/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname, lname):
  print(fname)
my_function("satya","palui")

satya

In [ ]:
def x(k):
  if(k > 0):
    result = k + x(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
x(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def x(i):
  return lambda a : a * i

d = x(2)
t = x(3)

print(d(11))
print(t(11))

22
33

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

  def myage(self):
    print("My age is ", self.age)
    self.age = self.age + 2
    print("My age is ", self.age)

  def myage2(self):
    print("My age2 is ", self.age)

p1 = Person("Satya", 34)
p1.myfunc()

p2 = Person("Amartya",35)
p2.myage()

p2.myage2()

Hello my name is Satya
My age is  35
My age is  37
My age2 is  37

In [ ]:
class Person:
  def __init__(self):
    self.name = None
    self.age = None

  def myfunc(self):
    self.name = "John"
    self.age = 35
    print("Hello my name is " + self.name)

  def myage(self):
    print("My age is ", self.age)
    self.age = self.age + 2
    print("My age is ", self.age)

  def myage2(self):
    print("My age is ", self.age)

p1 = Person()
p1.myfunc()


#p2 = Person("Amartya",35)
#p2.myage()

#p2.myage2()

Hello my name is John

In [ ]:
class TempConverter:
  def __init__(self, farenhite):
    self.farenhite = farenhite

  def myfunc(self):
    self.centigrade = (self.farenhite-32)*(5/9)
    print("Temp in c is ", self.centigrade)

  def tempdiff(self):
    self.centigrade = self.centigrade + 2
    print("Temp in new c is ", self.centigrade)

temparr = [34, 38, 32, 36 ]
temparr2 = temparr.copy()
temparr2.pop(0)
for i in range (len(temparr)):
  t1 = TempConverter(temparr[i])
  t1.myfunc()
  t1.tempdiff()

Temp in c is  1.1111111111111112
Temp in new c is  3.111111111111111
Temp in c is  3.3333333333333335
Temp in new c is  5.333333333333334
Temp in c is  0.0
Temp in new c is  2.0
Temp in c is  2.2222222222222223
Temp in new c is  4.222222222222222

In [ ]:
class tempdiff:
  def __init__(self, farenhite):
    self.farenhite = farenhite

  def myfunc(self):
    for i in range (1, len(temparr), 1):
      diff = temparr[i]-temparr[i-1]
      print(diff)
      #print ("Temparature difference between day ", temparr(i+1), "and", temparr(i), "is", diff)
      #print (f'Temparature difference between day {temparr(i+1)} and {temparr(i)} is {diff})

temparr = [34, 38, 32, 36]
t1 = tempdiff(temparr)
t1.myfunc()

4
-6
4

In [ ]:
class numbers:
  def __init__(self, numbers):
    self.numbers = numbers
   
  def n_max(self):
    for i in range (len(self.numbers)):
      if i == 0:
        n_max = self.numbers[i]
      else:
        n_max = max(n_max, self.numbers[i])
    print("Maximum number is ", n_max)

numberset = [34, 38, 32, 36, 0, -2]
n1 = numbers(numberset)
n1.n_max()

Maximum number is  38

In [ ]:
class Numbers:
  def __init__(self, numbers):
    self.numbers = numbers
   

  def n_max(self):
    self.n_max = float ("-inf")
    for i in range (len(self.numbers)):
      self.n_max = max(self.n_max, self.numbers[i])
    print("Maximum number is ", self.n_max)

numberset = [34, 38, 32, 36, 0, -2]
n1 = Numbers(numberset)
n1.n_max()

Maximum number is  38

In [ ]:
class Numbers:
  def __init__(self, numbers):
    self.numbers = numbers
   

  def n_max(self):
    self.n_max = float ("-inf")
    for i in range (len(self.numbers)):
      self.n_max = max(self.n_max, self.numbers[i])
    return self.n_max

numberset = [34, 38, 32, 36, 0, -2]
n1 = Numbers(numberset)
n2 = Numbers(numberset)
result = n2.n_max()
print("Maximum number is ", n1.n_max())
print("Maximum number is ", result)

Maximum number is  38
Maximum number is  38

In [ ]:
class Numbers:
  def __init__(self, nos):
    self.nos = nos
  
  def n_max(self):
    self.n_max = float ("-inf")
    for i in range (len(self.nos)):
      self.n_max = max(self.n_max, self.nos[i])
    print("Maximum number is ", self.n_max)
  
  def n_min(self):
    self.n_min = float ("inf")
    for i in range (len(self.nos)):
      self.n_min = min(self.n_min, self.nos[i])
    print("Minimum number is ", self.n_min)

numberset = [34, 38, 32, 36, 0, -2]
n1 = Numbers(numberset)
n1.n_max()
n1.n_min()

Maximum number is  38
Minimum number is  -2

In [ ]:
x = (2,4,6,8,10,12,14,16,18,20)
i = len(x)
for i in range (len(x), 1, -1):
  print(x[i-1])

20
18
16
14
12
10
8
6
4

In [ ]:
p = 34.99
w = 20
print ("Price = $",p," Weight", w, "lbs")
print (f'price = $ {p}. Weight {w} lbs')

Price = $ 34.99  Weight 20 lbs
price = $ 34.99. Weight 20 lbs

In [ ]:
 x = 3.1415
 y = str(x)
 print (f'pi = {y[:4]}')

pi = 3.14

In [ ]:
print('-'*5)
print('ABC')
print('-'*5)

-----
ABC
-----

In [ ]:
print('G','F','G', sep=' ')

G F G

In [ ]:
print("Python" , end = '@') 
print("GeeksforGeeks")

Python@GeeksforGeeks

In [ ]:
print("Python" , end = '@\n') 
print("GeeksforGeeks")

Python@
GeeksforGeeks

In [ ]:
print("Python", "GeeksforGeeks", end = '@')

Python GeeksforGeeks@

In [ ]:
p = 1000
r = 3
n = 5
v = p*(1+r/100)**n
print(f'Future investment value = {v:.2f} USD')

Future investment value = 1159.27 USD

In [ ]:
a = 3
b = -4
c = 1
d = b**2-4*a*c
print(f'delta = {d}')

delta = 4

In [ ]:
a = 14
d = 4
n = 10
s = (n/2)*(2*a+(n-1)*d)
print(s)

320.0

In [ ]:
A = (2,4)
B = (-4,6)
x = (A[0]+B[0])/2
print(x)

-1.0

In [ ]:
filename = 'view.jpg'
print(filename[5:])
print(filename[-3:])

jpg
jpg

In [ ]:
x = 'PKV-89415-PLN'
i = x[:3]+x[-3:]
print (x[:3]+x[-3:])

PKVPLN

In [ ]:
x = '1 0 0 1 0 1'
p = x[::2]
print (p)
q = int(p,2)
print(q)

text = 'Python Course'
print(text[::-1])

100101
37
esruoC nohtyP

In [ ]:
var1 = ''
var2 = ' '
var3 = '\n'
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
var1 = None
var2 = False
var3 = 'True'
print(type(var1))
print(type(var2))
print(type(var3))
print(var1)

<class 'NoneType'>
<class 'bool'>
<class 'str'>
None

In [ ]:
flag = False
if (type(flag)==bool):
  print ('true')
else:
  print ('false')

true

In [ ]:
text = 'python is a popular programming language.'
print(text.replace("p","P",1))
print(text.count("p"))

Python is a popular programming language.
4

In [ ]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
if code1[-4:] == '2020':
  print("code1 = True")

code1 = True

In [ ]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'
print(f"link is {path1.startswith('youtube')}")

link is True

In [ ]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'
print(f"path1 : {path1.find('scientist')}")

path1 : 49

In [ ]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
print(f"Code1: {code1.isalnum()}")
print(code2.isalnum())

Code1: False
True

In [ ]:
text = 'Google Colab'
text.lower()
text.upper()
print(text.lower())
print(text.upper())

google colab
GOOGLE COLAB

In [ ]:
text = '  Google Colab   '
print(text.strip())
text.strip()

Google Colab

'Google Colab'

In [ ]:
code = 'FVNISJND-XX'
text = '340-23-245-235'
print(code.replace("-"," "))
print(text.replace("-",""))

FVNISJND XX
34023245235

In [ ]:
text = 'Open,High,Low,Close'
print (text.split(","))

['Open', 'High', 'Low', 'Close']

In [ ]:
text = """Python is a general-purpose language.
Python is popular."""
print (text.split("\n"))
print(text.splitlines())

['Python is a general-purpose language.', 'Python is popular.']
['Python is a general-purpose language.', 'Python is popular.']

In [ ]:
num = 34
print(f"0000{str(num)}")
print(str(num).zfill(6))

000034
000034

In [ ]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
name = url.split("/")[-1]
name = name.replace("-"," ")
print(name)

sciezka data scientist machine learning engineer