<a href="https://colab.research.google.com/github/SatyaPalui/PythonPractice/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname, lname):
  print(fname)
my_function("satya","palui")

satya

In [ ]:
def x(k):
  if(k > 0):
    result = k + x(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
x(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
def x(i):
  return lambda a : a * i

d = x(2)
t = x(3)

print(d(11))
print(t(11))

22
33

In [12]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

  def myage(self):
    print("My age is ", self.age)
    self.age = self.age + 2
    print("My age is ", self.age)

  def myage2(self):
    print("My age2 is ", self.age)

p1 = Person("Satya", 34)
p1.myfunc()

p2 = Person("Amartya",35)
p2.myage()

p2.myage2()

Hello my name is Satya
My age is  35
My age is  37
My age2 is  37

In [13]:
class Person:
  def __init__(self):
    self.name = None
    self.age = None

  def myfunc(self):
    self.name = "John"
    self.age = 35
    print("Hello my name is " + self.name)

  def myage(self):
    print("My age is ", self.age)
    self.age = self.age + 2
    print("My age is ", self.age)

  def myage2(self):
    print("My age is ", self.age)

p1 = Person()
p1.myfunc()


#p2 = Person("Amartya",35)
#p2.myage()

#p2.myage2()

Hello my name is John

In [ ]:
class TempConverter:
  def __init__(self, farenhite):
    self.farenhite = farenhite

  def myfunc(self):
    self.centigrade = (self.farenhite-32)*(5/9)
    print("Temp in c is ", self.centigrade)

  def tempdiff(self):
    self.centigrade = self.centigrade + 2
    print("Temp in new c is ", self.centigrade)

temparr = [34, 38, 32, 36 ]
temparr2 = temparr.copy()
temparr2.pop(0)
for i in range (len(temparr)):
  t1 = TempConverter(temparr[i])
  t1.myfunc()
  t1.tempdiff()

Temp in c is  1.1111111111111112
Temp in new c is  3.111111111111111
Temp in c is  3.3333333333333335
Temp in new c is  5.333333333333334
Temp in c is  0.0
Temp in new c is  2.0
Temp in c is  2.2222222222222223
Temp in new c is  4.222222222222222

In [32]:
class tempdiff:
  def __init__(self, farenhite):
    self.farenhite = farenhite

  def myfunc(self):
    for i in range (1, len(temparr), 1):
      diff = temparr[i]-temparr[i-1]
      print(diff)
      #print ("Temparature difference between day ", temparr(i+1), "and", temparr(i), "is", diff)
      #print (f'Temparature difference between day {temparr(i+1)} and {temparr(i)} is {diff})

temparr = [34, 38, 32, 36]
t1 = tempdiff(temparr)
t1.myfunc()

4
-6
4

In [1]:
class numbers:
  def __init__(self, numbers):
    self.numbers = numbers
   
  def n_max(self):
    for i in range (len(self.numbers)):
      if i == 0:
        n_max = self.numbers[i]
      else:
        n_max = max(n_max, self.numbers[i])
    print("Maximum number is ", n_max)

numberset = [34, 38, 32, 36, 0, -2]
n1 = numbers(numberset)
n1.n_max()

Maximum number is  38

In [10]:
class Numbers:
  def __init__(self, numbers):
    self.numbers = numbers
   

  def n_max(self):
    self.n_max = float ("-inf")
    for i in range (len(self.numbers)):
      self.n_max = max(self.n_max, self.numbers[i])
    print("Maximum number is ", self.n_max)

numberset = [34, 38, 32, 36, 0, -2]
n1 = Numbers(numberset)
n1.n_max()

Maximum number is  38

In [14]:
class Numbers:
  def __init__(self, numbers):
    self.numbers = numbers
   

  def n_max(self):
    self.n_max = float ("-inf")
    for i in range (len(self.numbers)):
      self.n_max = max(self.n_max, self.numbers[i])
    return self.n_max

numberset = [34, 38, 32, 36, 0, -2]
n1 = Numbers(numberset)
n2 = Numbers(numberset)
result = n2.n_max()
print("Maximum number is ", n1.n_max())
print("Maximum number is ", result)

Maximum number is  38
Maximum number is  38

In [16]:
class Numbers:
  def __init__(self, nos):
    self.nos = nos
  
  def n_max(self):
    self.n_max = float ("-inf")
    for i in range (len(self.nos)):
      self.n_max = max(self.n_max, self.nos[i])
    print("Maximum number is ", self.n_max)
  
  def n_min(self):
    self.n_min = float ("inf")
    for i in range (len(self.nos)):
      self.n_min = min(self.n_min, self.nos[i])
    print("Minimum number is ", self.n_min)

numberset = [34, 38, 32, 36, 0, -2]
n1 = Numbers(numberset)
n1.n_max()
n1.n_min()

Maximum number is  38
Minimum number is  -2

In [29]:
x = (2,4,6,8,10,12,14,16,18,20)
i = len(x)
for i in range (len(x), 1, -1):
  print(x[i-1])

20
18
16
14
12
10
8
6
4